extends layout

block content
  script(src="/socket.io.js")
  script(src="/javascripts/fireData.js") 
  script(src="/javascripts/latlong.js")
  script(src="/javascripts/phaser.js") 
  script(src="/javascripts/game.js")
  script(src="/javascripts/fireOverlay.js")
  script(src="/javascripts/timer.js")
  script(src="/javascripts/scoreKeeper.js")
  script(src="/javascripts/HighScorePopup.js")
